@import "variables";
@import "base";
@import "components";

/*header*/
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2rem;
  &__title {
    font-family: $main-font;
    margin-top: 1rem;
    padding: 0 40px;
    text-align: center;
    font-size: 2.4rem; /* 24px */
    font-weight: 700;
  }
  &__punchline {
    font-size: 1.6rem; /* 16px */
    text-align: center;
    color: #353535;
    font-weight: 300;
    margin-bottom: 20px;
  }
}
/*fin header*/
/*----------------------------main content-----------------------*/
.section_container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
/*Fonctionnement*/
.fonctionnement {
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 2.4rem; /* 24px */
    font-weight: 700;
  }
  &__steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    &__step {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bg-color;
      width: 90%;
      padding: 2.5rem 2rem;
      @include cardRadius;
      @include DropShadow;
      gap: 1rem;

      &__number {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        left: -1.2rem;
        font-size: 1.4rem;
        background-color: $primary-color;
        color: #ffffff;
        font-weight: 700;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }

      &__icon {
        position: absolute;
        left: 3.5rem;
        font-size: 2rem; /* 20px */
        color: #7e7e7e;
        &--purple {
          position: absolute;
          left: 3.5rem;
          font-size: 2rem; /* 20px */
          color: $primary-color;
        }
      }
      &__title {
        font-size: 1.6rem; /* 16px */
        color: #000000;
      }
    }
  }
}

/*fin Fonctionnement*/
/*Restaurants*/
.card-resto__container {
  max-width: 100%;
  margin: 2rem 0;
}
/*fin Restaurants*/
/*footer*/
.footer {
  &__container {
    background-color: #353535;
    color: #ffffff;
    padding: 2rem;
  }
  &__logo {
    margin-bottom: 1rem;
    h3 {
      font-family: $title-font !important;
      font-size: 1.8rem;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  &__icon {
    width: 1.2rem; // Taille augmentée
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
/*fin footer*/

/*---------------------------fin main content--------------------*/

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
