@mixin main-gradient {
  background: linear-gradient($secondary-color, $primary-color);
}
@mixin DropShadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
@mixin cardRadius {
  border-radius: 2rem;
}
/*responsive*/
@mixin max-width {
  @media screen and (min-width: 1024px) {
    max-width: 1200px;
  }
}
