/*-----------header home-----------*/
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  @include DropShadow;
  z-index: 1000;
  &__logo {
    padding: 1.5rem 1rem;
    max-width: 170px;
  }
  &__return {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1.6rem;
    text-decoration: none;

    i {
      margin-right: 0.5rem;
      font-size: 1.6rem;
    }
  }
}
