/*----------------------------main content-----------------------*/
.section_container {
  padding: $spacing-md; // 2rem
  display: flex;
  flex-direction: column;
  &__title {
    margin: $spacing-lg 0 $spacing-md 0; // 3rem 0 2rem 0
    @media screen and (min-width: map-get($breakpoints, "xl")) {
      width: 80%;
      margin: $spacing-md auto; // 2rem auto
      @include max-width;
    }
  }
}
/*Fonctionnement*/
.fonctionnement {
  padding: $spacing-md; // 2rem
  background-color: $color-light;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: $font-size-lg; /* 24px */
    font-weight: $font-weight-bold;
  }
  &__steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-md; // 2rem
    margin-top: $spacing-md; // 2rem

    &:last-child {
      margin-bottom: 5rem;
    }
    @media screen and (min-width: map-get($breakpoints, "lg")) {
      flex-direction: row;
      justify-content: space-between;
      gap: $spacing-lg; // 3rem
      width: 100%;
      margin: $spacing-md auto; // 2rem auto
    }
    @media screen and (min-width: map-get($breakpoints, "xl")) {
      width: 80%;
      @include max-width;
    }

    &__step {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-bg;
      width: 90%;
      padding: $spacing-lg $spacing-md; // 3rem 2rem
      @include cardRadius;
      @include DropShadow;
      gap: $spacing-sm; // 1rem

      &__number {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        left: -1.2rem;
        font-size: $font-size-sm; /* 14px */
        background-color: $color-primary;
        color: $color-light;
        font-weight: $font-weight-bold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }

      &__icon {
        position: absolute;
        left: 3.5rem;
        font-size: 2rem; /* 20px */
        color: $icon-color;
        &--purple {
          position: absolute;
          left: 3.5rem;
          font-size: 2rem; /* 20px */
          color: $color-primary;
        }
      }
      &__title {
        font-size: $font-size-base; /* 16px */
        color: #000000;
      }
    }
  }
}

/*fin Fonctionnement*/
/*Restaurants*/
.restaurant-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: map-get($breakpoints, "lg")) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (min-width: map-get($breakpoints, "xl")) {
    width: 80%;
    margin: $spacing-md auto; // 2rem auto
    @include max-width;
  }
}
.link-box {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: auto;
  @media screen and (min-width: map-get($breakpoints, "lg")) {
    width: 48%;
  }
}
.card-resto__container {
  max-width: 100%;
  margin: $spacing-md 0; // 2rem 0
  @media screen and (min-width: map-get($breakpoints, "lg")) {
  }
}
/*fin Restaurants*/

/*---------------------------fin main content--------------------*/
